* {
  padding:0; 
  margin:0; 
  border: 0; 
  outline: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

.mobile_only {
  display: none;
}

.social {
  display: inline-block;
  padding: 12%;
}

@font-face {
 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
 font-weight: 300;
  src: url(../fonts/adobe_caslon_pro.ttf);
}

@font-face {
 font-family: 'Edwardian';
  src: url(../fonts/edwardian.ttf);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin-top: 1em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 1em;
}


.temp {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin-top: 50px;
  text-align: center;
  letter-spacing: 2px;
}

/*homepage background slideshow*/
#vanilla-slideshow-container { 
  width: 100%; 
  height: 100%; 
  z-index: -1000;
  position: relative; 
  text-align: center;
}

#vanilla-slideshow .vanilla-slide { 
  width: 100%; 
  height: 100%; 
  background-size: cover; 
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute; 
  opacity: 0;
}

#vanilla-slideshow .vanilla-slide.vanilla-active { 
    opacity: 1;
}

#vanilla-slideshow .vanilla-slide img {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { 
  #vanilla-slideshow .vanilla-slide img {
    left: 50%;
    margin-left: -512px; 
  }
}

/* Arrows */
#vanilla-slideshow-previous {
  position: absolute;
  left: 10px;
  top: 40%;
  width: 48px;
  height: 50px;
  background-position: 0 100%;
  cursor: pointer; 
  opacity: 0.7;
  z-index: 5; 
  display: none;
}

#vanilla-slideshow-next {
  position: absolute;
  right: 10px;
  top: 40%;
  width: 48px;
  height: 50px;
  background-position: 100% 100%;
  cursor: pointer;  
  opacity: 0.7;
  z-index: 5; 
  display: none;
}

#vanilla-slideshow-previous:hover, #vanilla-slideshow-next:hover {
  opacity: 1;
}

/* Indicators */
#vanilla-indicators {
  display: inline-block;
  z-index: 5;
  position: absolute;
  bottom: 50px;
}

.vanilla-indicators {
  box-shadow: 0 0 10px #333333;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  float: left;
  margin-right: 3px;
  cursor: pointer;
}

.vanilla-indicators.vanilla-active {
  background-color: #ffffff;
}
/*end homepage slideshow*/

.background_img img {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999;
}

#side_bar_container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
}

/*Slide in animation for home page*/
#slide_in {
  position: absolute;
  left: -250px;
  width: 100px;
  height: 100px;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: .5s;
  animation: slide 1s forwards;
  animation-delay: .5s;
}

@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}

.logo {
  float: left;
  height: auto;
  width: 15em;
  opacity: .98;
  margin-top: -4em;
}

nav {
  clear: both;
  float: left;
  background-color: rgb(150, 137, 127);
  width: 15em;
  padding-bottom: 100vh;
  opacity: .98;
  margin-top: -56px;
}

nav hr {
  border: 0;
  margin: 10% 32px;
  clear: both;
  display: block;
  width: 80%;
  background-color: rgb(234, 246, 245);
  height: 1px;
}

nav p {
  margin-left: 1em;
  margin-top: -5%;
  margin-bottom: 5%;
  color: rgb(234, 246, 245);
  font-style: italic;
  text-align: center;
}

nav ul {
  text-align: center;
  padding: 20%;
  margin-top: -3em;
}

nav li {
  color: rgb(234, 246, 245);
  font-size: 1em;
  letter-spacing: 2px;
  padding: 1% 1% 5% 1%;
  margin-bottom: 12px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300; Georgia;
  font-weight: lighter;
  transition: .5s;
}

nav li:hover {
  background-color: rgb(234, 246, 245);
  color: rgb(150, 137, 127); 
  transition: .8s;
}

.social {
  /*display: none;*/
  margin: -6.1em 56%;
  text-align: left;
}

.social ul {
  display: inline-block;
  /*text-align: left;*/
}

.social li {
  padding: 0;
  margin: 0px -50px;
  display: inline-block;
}

.social li:hover {
  background: none;
}

.social img {
  height: 32px;
  width: 32px;
}

.active {
  background-color: rgb(234, 246, 245);
  color: rgb(150, 137, 127); ;
}

/*Home Page*/
.home_main {
  display: none;
  background: rgb(150, 137, 127);
  margin-left: 28em;
  margin-top: 9em;
  width: 42%;
  padding: 3%;
  z-index: 1000;
  color: rgb(234, 246, 245);
  -webkit-animation: fadein 2.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2.5s; /* Firefox < 16 */
  -ms-animation: fadein 2.5s; /* Internet Explorer */
  -o-animation: fadein 2.5s; /* Opera < 12.1 */
  animation: fadein 2.5s;
  opacity: .99;
}

.home_main h2 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.home_main p {
  margin-top: 1em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  letter-spacing: .5px;
}

.home_main a {
  color: rgb(234, 246, 245);
  margin-top: 1em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 1em;
  padding: 7px 10px;
}

.home_main a:hover {
  background-color: rgb(234, 246, 245);
  color: rgb(150, 137, 127); 
  transition: .8s;
}

/*About Page*/
.about_main {
  height: 80vh;
  width: 60%;
  margin-top: 3em;
  margin-left: 21em;
  margin-bottom: 75em;
}

.about_main p:first-of-type {
  color: rgb(71, 129, 141);
  text-align: center;
  font-size: 1.19em;
}

.about_main hr {
  border: 0;
  margin: 2% ;
  clear: both;
  display: block;
  width: 100%;
  background-color: rgb(71, 129, 141);
  height: 1px;
}

.about_main h3 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin-top: 50px;
  letter-spacing: 2px;
  color: rgb(71, 129, 141);
  font-size: 1.9em;
}

.about_main h3:nth-of-type(2n) {
  margin-top: 8em;
}

.about_main h2 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin-top: 5px;
  letter-spacing: 2px;
  font-size: 1.3em;
}

.about_main a {
  font-weight: bold;
  color: black;
  transition: .5s;
}

.about_main a:hover {
  opacity: .8;
  transition: .5s;
}

.about_main p span {
  color: rgb(71, 129, 141);
  font-style: italic;
}

.about_main p span:nth-last-child(2){
  font-style: normal;
}

.bio_img {
  /*border: 1px solid gray;*/
  border-radius: 2px;
  float: right;
  width: 30%;
  margin-left: 2em;
  margin-top: 75px;
  margin-bottom: 20px;
}

/*figure {
  display:inline-block;
  margin:10px;
  max-width:100px;
  vertical-align:top;
}*/

/*figure img {
  display:inline;
  border-radius: 2px;
  float: left;
  width: 100%;
  margin-right: 2em;
  margin-top: 20px;
  margin-bottom: 20px;
}
*/

/*figcaption {
  display:block;
  padding: 0;
  text-align: center;
}*/

.spicerack {
  border-radius: 2px;
  float: left;
  width: 30%;
  height: 70%;
  margin-right: 2em;
  margin-top: 20px;
  margin-bottom: 15px;
}

.bio {
  width: 85%;
  padding-top: 75px;
  margin-left: 0em;
}

.bio p {
  margin-top: 1em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 1em;
}

.style {
  width: 85%;
  padding-top: 40px;
  margin-left: 0em;
  margin-bottom: 5em;
}

.style h4 {

}

.style p {
  margin-top: 1em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 1em;
}

.style a {
  color: black;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.style a:hover {
  opacity: .8;
}

#creativeSlideUp {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  transition: .5s;
  font-size: 1.1em;
  margin-top: 6%;
  text-align: center;
}

#creativeSlideUp:hover {
  cursor: pointer;
  color: rgb(150, 137, 127);
  transition: .5s;
}

.creative_process {
  margin-left: 16em;
  height: 95vh;
}

.creative_process h2 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin-left: 40%;
  font-size: ;
}

.creative_process p {
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  display: inline:block;
  float: left;
  padding:1em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 33.3%;
}

.creative_process h3 {
  font-family: 'Edwardian';
  font-size: 2em;
  margin-left: 10%;
}
/*End About Page*/

/*Process Page*/
.process_main {
  height: 80vh;
  width: 60%;
  margin-top: 3em;
  margin-left: 21em;
  margin-bottom: 20em;
  /*float: left;*/
}

.process_main hr {
  border: 0;
  margin: 2% ;
  clear: both;
  display: block;
  width: 100%;
  background-color: rgb(71, 129, 141);
  height: 1px;
}

.process_main p:first-of-type {
  text-align: center;
  font-size: 1.19em;
}

.process_main p span {
  color: rgb(71, 129, 141);
  font-style: normal;
}

.process_main p span:last-child{
  font-style: italic;
}

.process_main img {
  border-radius: 2px;
  float: right;
  width: 40%;
  margin-left: 2em;
  margin-top: 10px;
  margin-bottom: 20px;
}

.process_main img:nth-of-type(2n) {
  border-radius: 2px;
  float: right;
  width: 30%;
  margin-right: 2em;
  margin-top: 10px;
  margin-bottom: 20px;
}
.process_main a {
  color: black;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  transition: .5s;
}

.process_main a:hover {
  opacity: .8;
  transition: .5s;
}

/*Services Page*/
.services_main {
  height: 80vh;
  width: 60%;
  margin-top: 3em;
  margin-left: 21em;
  margin-bottom: 10em;
}

.services_main hr {
  border: 0;
  margin: 2% ;
  clear: both;
  display: block;
  width: 100%;
  background-color: rgb(71, 129, 141);
  height: 1px;
}

.services_main p {
  margin-top: 0;
  margin-bottom: 20px;
}

.services_main p:first-of-type {
  text-align: center;
  font-size: 1.19em;
  color: rgb(71, 129, 141);
}

.services_main p:last-child {
  margin-bottom: 5em;
}

.services_main li {
  margin-bottom: 20px;
}

.services_main ul {
  list-style-type: disc;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin: 20px 5% 0 5%;
  
  
}

.services_main img {
  border-radius: 2px;
  float: right;
  width: 35%;
  margin-left: 2em;
  margin-top: 10px;
  margin-bottom: 20px;
}

.services_main span {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: rgb(71, 129, 141);
}

/*FAQ Page*/
.faq_main {
  height: 80vh;
  width: 60%;
  margin-top: 3em;
  margin-left: 21em;
  margin-bottom: 30em;
  }

  .faq_main hr {
  border: 0;
  margin: 2% ;
  clear: both;
  display: block;
  width: 100%;
  background-color: rgb(71, 129, 141);
  height: 1px;
}

.faq_main h3 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin-top: 10px;
  letter-spacing: 2px;
  color: rgb(71, 129, 141);
  font-size: 1.9em;
  text-align: center;
}

.faq_main span {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: rgb(71, 129, 141);
}

.faq_item p:first-of-type {
  margin-top: 0;
}

.faq_main img {
  border-radius: 2px;
  float: right;
  width: 40%;
  height: ;
  margin-left: 2em;
  margin-top: 5px;
  margin-bottom: 12px;
}

/*Testimonials Page*/
.testimonials {
  height: 80vh;
  width: 60%;
  margin-top: 3em;
  margin-left: 21em;
  margin-bottom: 40em;
  /*float: left;*/
}

.testimonials hr {
  border: 0;
  margin: 2% ;
  clear: both;
  display: block;
  width: 100%;
  background-color: rgb(71, 129, 141);
  height: 1px;
}

.testimonials h3 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin-top: 10px;
  letter-spacing: 2px;
  color: rgb(71, 129, 141);
  font-size: 1.9em;
  text-align: center;
}

.testimonials p {
  font-style: italic;
  color: rgb(71, 129, 141);
  margin-bottom: 10px;
}

/*.testimonials p:nth-of-type(2) {
  margin-top: 10em;
}*/

.testimonials span {
  margin-bottom: 200%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: 2px;
  color: rgb(71, 129, 141);
  text-align: center;
}

.testimonials img {
  border-radius: 2px;
  float: right;
  width: 50%;
  height: 50%; ;
  margin-left: 1em;
  margin-top: 5px;
  margin-bottom: 12px;
}

/*Giving*/
.giving{
  height: 80vh;
  width: 60%;
  margin-top: 3em;
  margin-left: 21em;
  margin-bottom: 10em;
  /*float: left;*/
}

.giving hr {
  border: 0;
  margin: 2% ;
  clear: both;
  display: block;
  width: 100%;
  background-color: rgb(71, 129, 141);
  height: 1px;
}

.giving h3 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin-top: 10px;
  letter-spacing: 2px;
  color: rgb(71, 129, 141);
  font-size: 1.9em;
  text-align: center;
}

.giving h5 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin-top: 2px;
  margin-left: 8%;
  letter-spacing: .5px;
  color: rgb(71, 129, 141);
  font-size: .9em;
  text-align: ;
}


.animals {
 margin-top: 5em; 
}

.giving span {
  color: rgb(71, 129, 141);

}

.giving span:nth-of-type(2) {
 /* margin-top: -10px;
  margin-left: 90%;*/
  font-size: .8em;
  
}

.giving_img{
  border-radius: 2px;
  float: right;
  width: 30%;
  margin-left: 1em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.humane_society {
  margin-top: 13em;
}

.humane_img {
  border-radius: 200px;
  float: left !important;
  width: ;
  height:  ;
  margin-left: 1em;
  margin-top: -30px;
  margin-bottom: 12px;
  margin-right: 10px;
}

/*Contact Page*/
.contact_form {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin-left: 15%;
  margin-top: 7em;
  -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.5s; /* Firefox < 16 */
  -ms-animation: fadein 1.5s; /* Internet Explorer */
  -o-animation: fadein 1.5s; /* Opera < 12.1 */
  animation: fadein 1.5s;
}

.contact_info {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  text-align: center;
  background: rgb(150, 137, 127);
  margin-left: 34.5%;
  margin-top: 1em;
  margin-bottom: 5em;
  width: auto;
  max-width: 16em;
  padding: 1%;
  z-index: 1000;
  color: rgb(234, 246, 245);
  -webkit-animation: fadein 2.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2.5s; /* Firefox < 16 */
  -ms-animation: fadein 2.5s; /* Internet Explorer */
  -o-animation: fadein 2.5s; /* Opera < 12.1 */
  animation: fadein 2.5s;
  opacity: .99;
}

.contact_info a {
  color: white;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.page_title {
  display: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 2px;
}

form {
  margin-left: 20%; 
}

input {
  height: 2em;
  width: 12em;
  border-radius: 2px;
  padding-left: 5px;
  margin-right: 3.2%;
  margin-bottom: 10px;
  color: ;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 1em;
  opacity: .96;
}

textarea {
  border-radius: 2px;
  height: 20em;
  width: 40em;
  padding: 10px 5px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 1em;
  resize: none;
  opacity: .96;
}

*::-webkit-input-placeholder {
    color: black;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: black;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: black;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: black;
}

.button {
  height: 3em;
  margin-left: 25%;
  margin-top: 20px;
  background-color: rgb(150, 137, 127);
  color: rgb(234, 246, 245);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  border: 0;
  letter-spacing: 2px;
  opacity: 1;
}

.button:hover {
  cursor: pointer;
  opacity: .92;
  transition: .5s;
}
/*End Contact Page*/

/*Thank you page*/
.thanks_box {
  margin-left: 40%;
  margin-top: 9em;
  height: auto;
  width: 25em;
  text-align: center;
  padding: 5% 5%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background-color: rgb(150, 137, 127);
  color: rgb(234, 246, 245);
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 30px;
  border-radius: 2px;
  opacity: .93;
}

/*Interiors*/
.image_gallery {
  width: 90%;
  margin-top: 6em;
  margin-left: 20em;
  margin-bottom: 20%;
   -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.5s; /* Firefox < 16 */
  -ms-animation: fadein 1.5s; /* Internet Explorer */
  -o-animation: fadein 1.5s; /* Opera < 12.1 */
  animation: fadein 1.5s;
}

.image_gallery .page_title {
  margin-right: 12em;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  padding: 15px;
  text-align: center;
  background-color: rgb(150, 137, 127);
  color: rgb(234, 246, 245);
  margin-top: -4px;
}

* {
    box-sizing: border-box;
}

.responsive {
  padding: 0 10px;
  margin: 10px 0;
  float: left;
  width: 26%;
}

@media only screen and (max-width: 700px){
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px){
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*End Interiors Slideshow*/

/*=========MEDIA QUERIES=========*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .mobile_only {
    display: inline-block;
  }

  .page_title  {
    display: none;
  }
  
  /*Home Page*/
  #side_bar_container {
    display: none;
  }

  .mobile_only header {
    background-color: rgb(150, 137, 127);
    width: 110%;
    padding-bottom: 7%;
  }

  .mobile_only header img {
    height: 130px;
    width: auto;
    margin: -10px 35%;
  }

  .mobile_only nav {
    padding: 0;
    width: 19em;
    margin-top: 5%;
    margin-left: 19%;
  }

  .mobile_only nav ul {
    padding: 0;
    font-size: .5em;
    text-align: center;
    margin-left: -84px;
  }

  .mobile_only nav li {
    display: inline;
    margin-left: 5px;
    margin-left: 0%;
    margin-right: 0%;
    font-size: 1.3em;
  }

  #vanilla-slideshow-container { 
    display: none;
    width: 50%; 
    height: 50%; 
    position: relative; 
    text-align: center;
  }

  .mobile_only .temp_img {
    height: 250px;
    width: 100%;
    margin: auto;

  }

  .mobile_only p {
    background-color: rgb(150, 137, 127);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300; Georgia;
    font-weight: lighter;
    color: rgb(234, 246, 245);
    letter-spacing: 1px;
    font-size: 1em;
    line-height: 23px; 
    text-align: center;
    padding: 1em 3% 7%;
    margin: -2% 0;
  }
  /*End Home Page*/

  /*About Page*/
  .about_main {
    margin-left: 3em;
    width: 80%;
    margin-bottom: 100em;
  }
  
  /*.bio {
    width: 50%;
    margin-left: 5em;
  }*/

  .bio_img {
    width: 60%;
    margin: 0 16% 4%;
  }
/*
  .creative_process {
    text-align: center;
    margin-left: 0;
    width: auto;
  }

  .creative_process h2 {
    margin-left: 0;
  }

  .creative_process p {
    float: none;
    width: auto;
  }*/

  /*Process Page*/
  .process_main {
    margin-left: 3em;
    margin-bottom: 25em;
    width: 80%;
  }

  /*Services Page*/
  .services_main {
    margin-left: 3em;
    margin-bottom: 25em;
    width: 80%;
  }

  /*FAQ Page*/
  .faq_main {
    margin-left: 3em;
    margin-bottom: 35em;
    width: 80%;
  }

  /*Interiors Page*/
  .image_gallery {
    margin-left: 1em;
  }

  /*Contact Page*/
  .contact_form {
    margin: 15% 0 20% 0;
  }

  form {
    margin-left: 10%;
  }

  input {
    width: 18em;
    height: 2.5em;
  }

  textarea {
    height: 10em;
    width: 18em;
  }

  .button {
    margin-left: 12%;
    width: 13em;
    -webkit-appearance: none;
  }

  .contact_info {
    margin-left: 1em;
  }

  footer {
    background-color: rgb(150, 137, 127);
    height: auto;
    width: 100%;
    text-align: center;
    padding: 1%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300; Georgia;
    font-weight: lighter;
    color: rgb(234, 246, 245);
    letter-spacing: 1px;
    font-size: .8em;
    line-height: 30px;
    margin-top: auto;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    #side_bar_container {
    }

    .logo {
    }

    #vanilla-slideshow-container {
    }

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {

}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {

}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {

}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  .mobile_only nav {
    width: ;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){

}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  .mobile_only nav {
    width: 110%;
  }
}
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){

}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){

}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){

}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){

}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){

}


/*=========END MEDIA QUERIES=========*/



