* {
  padding:0; 
  margin:0; 
  border: 0; 
  outline: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

.mobile_only {
  display: none;
}

@font-face {
 font-family: 'Adobe Caslon Pro';
  src: url(../fonts/adobe_caslon_pro.ttf);
}

@font-face {
 font-family: 'Edwardian';
  src: url(../fonts/edwardian.ttf);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.temp {
  font-family: 'Adobe Caslon Pro';
  margin-top: 50px;
  text-align: center;
  letter-spacing: 2px;
}

/*.background_img {
  position: fixed;
  height: 100%;
  width: 100%;
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

/*homepage background slideshow*/
/*@import url(http://fonts.googleapis.com/css?family=PT+Sans);*/
#vanilla-slideshow-container { 
  width: 100%; 
  height: 100%; 
  position: relative; 
  text-align: center;
}

#vanilla-slideshow .vanilla-slide { 
  width: 100%; 
  height: 100%; 
  background-size: cover; 
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute; 
  opacity: 0;
}

#vanilla-slideshow .vanilla-slide.vanilla-active { 
    opacity: 1;
}

#vanilla-slideshow .vanilla-slide img {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { 
  #vanilla-slideshow .vanilla-slide img {
    left: 50%;
    margin-left: -512px; 
  }
}

/* Arrows */

#vanilla-slideshow-previous {
  position: absolute;
  left: 10px;
  top: 40%;
  width: 48px;
  height: 50px;
  background-position: 0 100%;
  cursor: pointer; 
  opacity: 0.7;
  z-index: 5; 
  display: none;
}

#vanilla-slideshow-next {
  position: absolute;
  right: 10px;
  top: 40%;
  width: 48px;
  height: 50px;
  background-position: 100% 100%;
  cursor: pointer;  
  opacity: 0.7;
  z-index: 5; 
  display: none;
}

#vanilla-slideshow-previous:hover, #vanilla-slideshow-next:hover {
  opacity: 1;
}

/* Indicators */

#vanilla-indicators {
  display: inline-block;
  z-index: 5;
  position: absolute;
  bottom: 50px;
}

.vanilla-indicators {
  box-shadow: 0 0 10px #333333;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  float: left;
  margin-right: 3px;
  cursor: pointer;
}

.vanilla-indicators.vanilla-active {
  background-color: #ffffff;
}
/*end homepage slideshow*/

.background_img img {

  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999;
}

#side_bar_container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
}

/*Slide in animation for home page*/
#slide_in {
  position: absolute;
  left: -250px;
  width: 100px;
  height: 100px;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: .5s;
  animation: slide 1s forwards;
  animation-delay: .5s;
}

@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}

.logo {
  float: left;
  height: auto;
  width: 15em;
  opacity: .98;
}

nav {
  clear: both;
  float: left;
  background-color: rgb(39, 167, 160);
  width: 15em;
  padding-bottom: 100vh;
  opacity: .98;
  margin-top: -1%;
}

nav ul {
  text-align: center;
  padding: 20%;
}

nav li {
  color: rgb(234, 246, 245);
  font-size: 1em;
  letter-spacing: 2px;
  padding: 7% 1% 5% 1%;
  margin-bottom: 30px;
  font-family: "Adobe Caslon Pro", Georgia;
  font-weight: lighter;
  transition: .5s;
}

nav li:hover {
  background-color: rgb(234, 246, 245);
  color: rgb(39, 167, 160); ;
  transition: .8s;
}

.social {
  margin-left: 63%;
  text-align: left;
}

.social ul {
  display: inline-block;
  /*text-align: left;*/
}

.social li {
  padding: 0;
  margin: 0px -44px;
  display: inline-block;
}`

.social li:hover {
  background: none;
}

.social img {
  height: 32px;
  width: 32px;
}

.active {
  background-color: rgb(234, 246, 245);
  color: rgb(39, 167, 160); ;
}

/*About Page*/
.about_main {
  height: 80vh;
  width: 80%;
  margin-top: 5%;
  margin-left: 17em;
  margin-bottom: 10em;
  /*float: left;*/
}

/*.about_main h1{
  margin-left: 40%;
  font-family: 'Edwardian';
  font-size: 2.5em;
}*/

.bio_img {
  border: 1px solid gray;
  border-radius: 2px;
  float: left;
  width: 35%;
  margin-right: 2em;
  margin-top: 75px;
}

.bio {
  width: 85%;
  padding-top: 75px;
  margin-left: 5em;
}

.bio p {
  margin-top: 1em;
  font-family: 'Adobe Caslon Pro';
  font-size: 1em;
}

.creative_process {
  margin-top: 10%;
  margin-left: 16em;
  height: 95vh;
}

.creative_process h2 {
  font-family: 'Adobe Caslon Pro';
  margin-left: 40%;
  font-size: ;
}

.creative_process p {
  /*text-align: center;*/
  font-family: 'Adobe Caslon Pro';
  display: inline:block;
  float: left;
  padding:1em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 33.3%;
}

.creative_process h3 {
  font-family: 'Edwardian';
  font-size: 2em;
  margin-left: 10%;
}
/*End About Page*/

/*Contact Page*/
.contact_form {
  margin-left: 15%;
  margin-top: 7em;
}

.page_title {
  display: none;
  font-family: 'Adobe Caslon Pro';
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 2px;
}

form {
  margin-left: 20%; 
}

input {
  height: 2em;
  width: 12em;
  border-radius: 2px;
  padding-left: 5px;
  margin-right: 3.2%;
  margin-bottom: 10px;
  /*border: 1.3px solid rgb(39, 167, 160);*/
  color: ;
  font-family: 'Adobe Caslon Pro';
  font-size: 1em;
  opacity: .96;
}

textarea {
  /*border: 1.3px solid rgb(39, 167, 160);*/
  border-radius: 2px;
  height: 20em;
  width: 40em;
  padding: 10px 5px;
  font-family: 'Adobe Caslon Pro';
  font-size: 1em;
  resize: none;
  opacity: .96;
}

*::-webkit-input-placeholder {
    color: black;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: black;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: black;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: black;
}

.button {
  height: 3em;
  margin-left: 25%;
  margin-top: 20px;
  background-color: rgb(39, 167, 160);
  color: rgb(234, 246, 245);
  font-family: 'Adobe Caslon Pro';
  border: 0;
  letter-spacing: 2px;
  opacity: 1;
}

.button:hover {
  cursor: pointer;
  opacity: .92;
  transition: .5s;
  
}
/*End Contact Page*/
/*Thank you page*/
.thanks_box {
  margin-left: 30%;
  margin-top: 5em;
  height: 100%;
  width: 40em;
  text-align: center;
  padding: 15% 5%;
  font-family: 'Adobe Caslon Pro';
  background-color: rgb(39, 167, 160);
  color: rgb(234, 246, 245);
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 30px;
  border-radius: 2px;
  opacity: .93;
}

/*Interiors*/
.image_gallery {
  width: 90%;
  margin-top: 6em;
  margin-left: 20em;
  margin-bottom: 20%;
}

.image_gallery .page_title {
  margin-right: 12em;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
  font-family: "Adobe Caslon Pro";
  padding: 15px;
  text-align: center;
  background-color: rgb(39, 167, 160);
  color: rgb(234, 246, 245);
  margin-top: -4px;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 10px;
    margin: 10px 0;
    float: left;
    width: 26%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/*End Interiors*/
/*Interiors Slideshow*/


/*End Interiors Slideshow*/

/*=========MEDIA QUERIES=========*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .mobile_only {
    display: inline-block;
  }

  .page_title  {
    display: none;
  }
  
  /*Home Page*/
  #side_bar_container {
    display: none;
  }

  .mobile_only header {
    background-color: rgb(39, 167, 160);
    width: 110%;
    /*padding-bottom: 15%;*/
  }

  .mobile_only header img {
    height: 75px;
    width: 75px;
    margin: 0 5px;
  }

  .mobile_only nav {
    padding: 2%;
    width: 19em;
    margin-top: -8%;
    margin-left: 22%;
  }

  .mobile_only nav ul {
    padding: 0;
    font-size: .5em;
    text-align: left;
    /*margin-left: -13px;*/
  }

  .mobile_only nav li {
    display: inline;
    margin-left: 5px;
  }

  #vanilla-slideshow-container { 
  display: none;
  width: 50%; 
  height: 50%; 
  position: relative; 
  text-align: center;
  }

  .mobile_only .temp_img {
    height: 250px;
    width: 100%;
    margin: auto;

  }

  .mobile_only p {
    background-color: rgb(39, 167, 160);
    font-family: "Adobe Caslon Pro", Georgia;
    font-weight: lighter;
    color: rgb(234, 246, 245);
    letter-spacing: 1px;
    font-size: 1em;
    line-height: 23px; 
    text-align: center;
    padding: 11% 3% 24%;
    margin: -2% 0;
  }
  /*End Home Page*/

  /*About Page*/
  .about_main {
    margin-left: 0;
    /*margin-bottom: 14em;*/
    /*width: auto;*/
    /*text-align: center;*/
  }
  
  .bio {
    width: 89%;
    margin-left: 3em;
  }

  .bio_img {
    width: auto;
    margin: 0 30% 4%;
  }

  .creative_process {
    text-align: center;
    margin-left: 0;
    width: auto;
  }

  .creative_process h2 {
    margin-left: 0;
  }

  .creative_process p {
    float: none;
    width: auto;
  }

  /*Interiors Page*/
  .image_gallery {
    margin-left: 1em;
  }

  /*Contact Page*/
  .contact_form {
    margin: 15% 0 20% 0;
  }
  form {
    margin-left: 10%;
  }

  input {
    width: 18em;
    height: 2.5em;
  }

  textarea {
    height: 10em;
    width: 18em;
  }

  .button {
    margin-left: 12%;
    width: 13em;
    -webkit-appearance: none;
  }

  footer {
    background-color: rgb(39, 167, 160);
    height: auto;
    width: 100%;
    text-align: center;
    padding: 1%;
    font-family: "Adobe Caslon Pro", Georgia;
    font-weight: lighter;
    color: rgb(234, 246, 245);
    letter-spacing: 1px;
    font-size: .8em;
    line-height: 30px;
    margin-top: auto;
  }

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    #side_bar_container {
    /*display: none;*/
    }

    .logo {
      /*display: inline-block;*/
    }

    #vanilla-slideshow-container {
      /*display: none;*/
    }

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {

}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {

}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {

}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  .mobile_only nav {
    width: ;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){

}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  .mobile_only nav {
    width: 110%;
  }
}
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){

}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){

}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){

}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){

}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){

}


/*=========END MEDIA QUERIES=========*/



